/* 중앙 정렬 및 레이아웃 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f3f4f6;
    padding: 1.5rem;
}

/* 카드 스타일 */
.card {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 600px;
    margin-top: 1.5rem;
}

.correct {
    background-color: #79ffb1;
}

.incorrect {
    background-color: #ff978c;
}
